<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1079585917228-3fjlvjn1h6hd39f7kti16ehvd01qp2kd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079585917228-3fjlvjn1h6hd39f7kti16ehvd01qp2kd</string>
	<key>API_KEY</key>
	<string>AIzaSyC7HddCY72zwZ-UQQdwE0SB3mJ06DEYP4w</string>
	<key>GCM_SENDER_ID</key>
	<string>1079585917228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bigtrizzystudios.firebasePOC</string>
	<key>PROJECT_ID</key>
	<string>chat-poc-4e11c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-poc-4e11c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079585917228:ios:18031fe18b99ed96</string>
	<key>DATABASE_URL</key>
	<string>https://chat-poc-4e11c.firebaseio.com</string>
</dict>
</plist>